---
layout: default
post_list: false
toc: false
home_btn: true
btn_text: true
footer: false
title: "Formal Verification - VeritOS"
excerpt: "Thanks to the people who helps VeritOS."
keywords: "Formal Verification, Blockchain, Operating System, OS, VeritOS, Math, Open Source"
author: "VeritOS"
encrypted_text: false
permalink: /formal-verification
---

## Formal Verification
>  In the context of hardware and software systems, formal verification is the act of proving or disproving the correctness of intended algorithms underlying a system with respect to a certain formal specification or property, using formal methods of mathematics.Formal verification can be helpful in proving the correctness of systems such as: cryptographic protocols, combinational circuits, digital circuits with internal memory, and software expressed as source code.

## Usage on the VeritOS
* Code

